@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    pad: 0;
}

:root{
    --bg-principal: #121212;
    --bg-secundario:#2D2D2D;
    --cor-destaque: #E0A100;
    --font-color-principal:#FFF;
    --font-titulo: 'Bebas Neue', cursive;
    --font-destaque: 'Montserrat', sans-serif;
    --font-principal: 'Roboto', sans-serif;
    font-size: 16px;
}

body{
    background-color: var(--bg-principal);
    color:var(--font-color-principal);
    font-family:var(--font-principal);
    text-decoration: none;
    
}
a{
    color:var(--font-color-principal);
    text-decoration: none;
}
header{
    display: flex;
    background-color: var(--bg-secundario);
    align-items: flex-end;    

}
h1{
    color:var(--cor-destaque);
    text-transform: uppercase;
    font-family: var(--font-titulo);
}

nav li{
    list-style: none;    
    margin: 0 2rem;
    
}
nav ul{
    display: flex;
    align-items: flex-end;    

}
#hero{
    height: 20rem;
    width: 100%;
    position: relative;
}
#hero::before{
    width: 100%;
    height: 100%;
    content: '';
    background-image:url("https://www.themoviedb.org/t/p/original/aiURol0uepOhtJQuup1ayOhSWa5.jpg");
    position: absolute;
    background-size: cover;
    filter: opacity(.4);
    z-index: -1;
    box-shadow: inset 0 -100px 100px var(--bg-principal);
}